.dashboard {
  display: flex;
  height: 100vh;
  background: #f3f4f6;
}

/* SIDEBAR */
.sidebar {
  width: 70px;
  background: #982005;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 16px;
}

.sidebar-logo {
  width: 40px;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR */
.topbar {
  height: 60px;
  background: #b52818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  font-weight: 600;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #2e7d32;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CENTER */
.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 8px;
  width: 600px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.search-box input {
  border: none;
  flex: 1;
  padding: 10px;
  font-size: 14px;
}

.search-box input:focus {
  outline: none;
}

.mic {
  background: #b1122c;
  color: white;
  border: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
}

/* ACTION BUTTONS */
.actions {
  margin-top: 25px;
  display: flex;
  gap: 16px;
}

.action {
  background: #982005;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}